<div class="calendar">
<div class="currentTimeBar"></div>
{{#each view.cal.displayedEvents}}
<div class="event">
<h2>{{title}}</h2>

{{#if where}}
<h3>At {{where}}</h3>
{{/if}}

<h3>Starts {{start}} ({{startHuman}})</h3>
<h3>Ends {{end}}</h3>
</div>
{{/each}}
</div>