
<div class="weatherHolder">
	{{#with view.weather.weatherToday}}
		<div class="weatherToday">
			<div class="weatherTextHolder">
				<h2>{{longWeather}} : {{temp}}&#176;</h2>
				<h3><span class="high">{{high}}</span>/<span class="low">{{low}}</span></h3>
			</div>
				<img {{bind-attr src=src}}/>
		</div>
	{{/with}}
	<div class="weatherFutureHolder">
		{{#each view.weather.weatherFuture}}
			<div class="weatherFuture">
				<img {{bind-attr src=src}}/>
				<h3><span class="high">{{temp}}&#176;</span></h3>
			</div>
		{{/each}}
	</div>
</div>